/* ------- 기본 css 세팅 ------------ */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

html,
body {
  width: 100vw;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #383838;
  max-width: 100vw;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

ul,li{
  list-style:none;
}

a {
  color: inherit; /* 부모 속성 상속*/
  text-decoration: none;
}

input[type=text] , input[type=email] ,input[type=password] {
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d9e0e6;
}
input:focus{outline: none;}
button{
  cursor: pointer;
  border: none;
  background-color: #fff;
}
button:focus{border: none;}

.hidden{
  display: none;
}


