.login_layout{
  position: relative;
  width: 100%;
  height: 100vh;
  /* overflow-y: none; */

  form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: auto;

    fieldset{
      width: inherit;
      height: inherit;

      .login_area{
        /* background: #ff99ee; */
        padding: 20px 10px;

        .form_wrap{

          .input_area{

            p.text{
              font-size: 1.2em;
              font-weight: 400;
              text-align: center;
              padding-bottom: 20px;
            }
            .login_input_wrap{
              margin-bottom: 20px;

              & .login_input{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;

                & label{
                  width: 10%;
                  text-align: center;
                }
                & input{
                  width: 80%;
                  height: 40px;
                  padding-left: 10px;
                }
              }
            }
            .check_box{
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;

              & input{
                width: 15px;
                height: 15px;
              }
              span{font-size: .8em; color: #999;}
            }
            .btn_area{
              margin-top: 20px;
              .btn{
                width: 100%;
                background: #ffa569;
                border: none;
                border-radius: 5px;
                padding: 15px 0 ;
                font-size: 1.1em;
                color: #fff; 
              }
            }

          }
        }
      }
    }
  }

}