@import url(./globals.css);

#wrap{
  width: inherit;
  position: relative;
  height: 100%;

  /* header css */
  & #header{
  width: 100%;
  height: 70px;
  background: #ffa569; /* 헤더 영역 확인*/
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

    & h1{
      overflow: hidden;
      a{
        display: block;

        img{
          width: 150px;
          height: auto;
          display: block;
        }
      }
    } 
    & #nav{
      border: 1px solid #f8f8f8;

      & .nav_wrap{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;

        & li{
          width: 110px;
          height: 60px;
          font-size: 1.1em;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }

  & .container{
    width: 100%;
    margin: 0 auto;
    background: #999;

    .content_wrap{
      /* height: 100%; */
      min-height: 1000px;
      
      ul{
        display: flex;
        align-items: center;
        justify-content: center;

        li{
          width: 500px;
          height: 500px;
          border: 1px solid orangered;

          a{
            background: #277ff9;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            span{
              font-size: 1.2em;
              color: #fff;
            }
          }
        }
      }
    }
  }

  & #footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;  /* 해당 속성 지우니 버튼 이동 중 걸림 현상 발생.*/
    background: #ddd;
    gap: 20px;

    & .address_wrap{
      text-align: center;
      padding: 20px 0;

      & address{
        & p{
          font-size: .8em;
          color: #383838;
        }
      }
      & span.copyright{
        font-size: .8em;
        color: #f8f8f8;
      }
    }
  }
}