.table_wrap{
  width: 100%;
  border: 1px solid #ccc;
  text-align: center;

  h2{
    padding: 30px;
    border-bottom: 2px solid #f9f9f9;
  }

  & table{
    width: 100%;
    text-align: center;
    & thead{
      width: 100%;
      background: #fff;

      & th{
        height: 55px;
      }
    }
    & tbody{
      & tr{

        & td{
          height: 40px;
        }
      }
    }
  }
}